<%- include("partials/header") %>
<%- include("partials/navbar") %>

<h2>Transactions</h2>

<input type="text" id="search" placeholder="Search category..." />

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Type</th>
        </tr>
    </thead>

    <tbody id="tableBody">
        <% transactions.forEach(t => { %>
            <tr>
                <td><%= t.date %></td>
                <td>₹<%= t.amount %></td>
                <td class="category"><%= t.category %></td>
                <td><%= t.type %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include("partials/footer") %>